@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark light;
  }
}

@layer utilities {
  .font-sans {
    font-family: var(--font-sans);
  }
  .font-code {
    font-family: var(--font-code);
  }
  .font-heading {
    font-family: var(--font-heading);
  }

  .site-prose {
    @apply prose prose-headings:font-heading prose-neutral dark:prose-invert sm:prose-base lg:prose-lg xl:prose-xl;
  }

  .site-prose
    :is(
      :where(h1, h2, h3, h4, h5, h6, th):not(:where([class~="not-prose"] *))
    ) {
    text-wrap: balance;
  }

  .site-prose :where(pre, code):not(:where([class~="not-prose"] *)) {
    @apply bg-neutral-900 text-neutral-100 font-normal;
  }
  .site-prose :where(:not(pre) > code):not(:where([class~="not-prose"] *)) {
    @apply px-1 rounded py-0.5;
  }
  .site-prose :where(code):not(:where([class~="not-prose"] *))::before,
  .site-prose :where(code):not(:where([class~="not-prose"] *))::after {
    display: none;
  }

  .site-prose
    :where(code):not(:where([class~="not-prose"] *))
    :is(.token.function, .token.macro.property) {
    @apply text-purple-400;
  }
  .site-prose
    :where(code):not(:where([class~="not-prose"] *))
    :is(.token.keyword, .token.operator) {
    @apply text-red-400;
  }
  .site-prose :where(code):not(:where([class~="not-prose"] *)) .token.comment {
    @apply text-neutral-400;
  }
  .site-prose
    :where(code):not(:where([class~="not-prose"] *))
    :is(
      .token.string,
      .token.boolean,
      .token.number,
      .token.char,
      .token.lifetime-annotation.symbol
    ) {
    @apply text-blue-400;
  }
  .site-prose
    :where(code):not(:where([class~="not-prose"] *))
    :is(.token.class-name, .token.namespace) {
    @apply text-orange-400;
  }
  .site-prose
    :where(code):not(:where([class~="not-prose"] *))
    .token.namespace
    > .token.punctuation {
    @apply text-red-400;
  }
  .site-prose
    :where(code):not(:where([class~="not-prose"] *))
    :is(.token.lifetime-annotation.symbol) {
    @apply text-yellow-400;
  }
}
